@model Sitio.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.llave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.llave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricpion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricpion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTipoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idSuscriptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSuscriptor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoMovil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoMovil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuentaBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuentaBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rutaFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutaFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urlFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idSocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
